body {
  background: url("https://images.unsplash.com/photo-1567779013473-6cbdff716235?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
}

.App {
  
  height: 100vh;
  margin-top: 0px;
  

  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.color-selector-box {
  height: 200px;
  width: 100px;
  border-color: red;
  border-style: solid;
  text-align: left;
}

.texture-selector-box {
  height: 200px;
  width: 100px;
  border-color: blue;
  border-style: solid;
  text-align: left;

}

.searchbox{
  margin-top: 300px;
  position: relative;
  
}